* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body  {
  margin: 0;
  font-family: "Barlow", "Quattrocento", "Satisfy", "Roboto Condensed";
  font-style: normal;
  color: white;
  background-color: grey; //silmeyi unutma//
}
.btn {
  border-radius: 0.3rem;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(public/assets/iteration-1/home-banner.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}
.head-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 
  margin-top: 40px;
  gap: 0.5rem;  
}

.brand {
  font-family: "Londrina Solid";
  font-weight: 300;
  font-size: 50px;
}
.firsat {
  color: #FDC913;
  font-family: "satisfy";
  font-size: 32px;
}
.soylem {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-family: "Roboto Condensed";
  font-weight: 300;
  text-transform: uppercase;
  color: #FFF;
  letter-spacing: 1,5px;
  width: 25rem;
  text-align: center;
}

.top-menu{
  display: flex;
  margin: auto;
}
.head-button {
  padding: 0.5em 2em;
  border-radius: 999px;
  background: #FDC913;
  color: #292929;
  text-transform: uppercase;
  font-family: "Barlow";
  font-weight: bold;
  border: #FDC913;
  font-size: 1rem;
}
.top-menu {
  background-color: #FFF;
  height: 4rem;
}
.top-menu nav {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  gap: 2.5rem;
}
.top-menu nav a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}
.top-menu nav a img{
display: block;
}
.top-menu nav a span {
  font-size: 14px;
  line-height: 1;
  font-family: "Barlow";
  font-weight: bold;
}
.banner-content {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
}
.ozel-lezzetus {
  background-image: url(public\assets\iteration-2\cta\kart-1.png);
  aspect-ratio: 1/1;
  width: auto;
}
.hackathlon-burger {
background: #292929;
aspect-ratio: 2/1;
}
.npm-kurye {
background: url;
aspect-ratio: 2/1
}